/* sobre nosotros */
#nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    height: 90vh;
    color: #660eda;

    .grid-text {
      grid-column: 1/2;
      grid-row: 2/3;
      padding: 20px;
      padding-left: 150px;
      padding-right: 150px;
    }
    
    .grid-image {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-items: stretch;

      &  img {
        width: 55%;
        height: 100%;
      }

    }
    
    .textoo{
      font-size: 1.5em;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 100px;
    }



  }
  